:root {
  /* color project */
  --color-white: #ffffff;
  --color-white-smoke: #f2f2f2;
  --color-platinum: #d9d9d9;
  --color-black: #181818;
  --color-jet: #353535;
  --color-caribbean-current: #3c6e71;
  --color-indigo-dye: #284b63;

  /* color layout */
  --color-text: var(--color-black);
  --color-background: var(--color-white);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  position: relative;
  font-weight: normal;
}

html {
  font-family: 'Poppins', sans-serif;
  font-size: 62.5%;
}

body {
  min-height: 100vh;
  text-rendering: optimizeLegibility;
  font-size: 1.6rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.6;
  color: var(--color-text);
  background: var(--color-background);
  transition: color 0.5s, background-color 0.5s;
}
